<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header"><title>Test</title></head>
<body>
<div th:include="header :: navbar"></div>
<div class="container">
    <div class="row">

            <div style="color: #4cae4c" th:each="guilds : ${guilds}">
                <div>
                    <a th:href="@{'/guild/' + ${guilds.guildName}}" th:text="${guilds.guildTextName}"></a>
                </div>
            </div>
    </div>
</div>
</body>
</html>